/* style.css */

.header {
    padding: 20px;
    text-align: center;
    background: rgb(248, 207, 232);
    color: rgb(122, 83, 83); 
    font-size: 20px;
}
.title{
    color: black;
    text-align: center;
}

.text{
    font-size: 20px;
    color: black;
}
.linkHead {
    padding: 5px;
    text-align: center;
    background: rgb(248, 207, 232); 
    color: rgb(122, 83, 83); 
    font-weight: bold; 
}
.list{
    border: rgb(54, 9, 9) solid 1px;
    padding: 0px;
    margin: 10px;
    block-size: 110px;
    width: 250px;
    color: rgb(248, 207, 232);
    background-color: rgb(122, 83, 83);
    box-sizing: border-box;
    border-radius: 15px;
    list-style: none;
    align-items: center;
    justify-content: center;
}
img{
position: absolute;
bottom: 50px;
right: 50px;
}

a {
    text-decoration: none;
    color: black;
    color: rgb(248, 207, 232);
}
